<!DOCTYPE html>
<html>
    <%= erb :'layout/doc_head' %>

<body style='overflow-x: hidden;'>  
<style>
p {
  font-size: 20px;
}
body, html: {height: 100%; border:1px solid red;}
</style>

  <a href='/logout' class='btn btn-danger' style='position: absolute; z-index: 999; right: 100px; bottom: 0px; height:100px'>Quit without pay</a>  

  <div class='' style='background-color: whitesmoke;'>    
    <%= erb :"layout/flash" %>        

    <%= erb :'header' %>   
    <div class='container' style='min-height: 500px'>
      <%= sesh.to_json if false%>
      <%= yield %> 
    </div>
    <%#= erb :"footer" %>           
  </div>  

  
  <link rel="stylesheet" href="/css/fonts/RobotoFonts.css">
  <link rel="stylesheet" href="/css/fonts/MaterialIcons.css">
</body>
</html>
