<!DOCTYPE html>
<html style='height:100%'>
    <%= erb :'layout/doc_head' %>
<style>
p {
  font-size: 20px;
}
label { color: black; }
body, html: {border:1px solid red;}
</style>
<%
#bp
x=1
%>
<body style='overflow-x: hidden; height:100%'>  
<!-- <div id=map class='well'></div> -->
<!-- <div class='well'><%= session.to_h['moves'] %></div> -->
<% if false %>
  <% if request_fullpath.ends_with? 'last_payment' %>
  <a href='/logout' class='btn btn-danger' style='position: absolute; z-index: 999; right: 0px; top: 0px; height:40px'> Close Screen </a>  
  <% else %> 
  <a href='/logout' class='btn btn-danger' style='position: absolute; z-index: 999; right: 0px; top: 0px; height:40px' onclick='if (!confirm("Are you sure?")) return false;'>Quit without pay</a>  
  <% end %>
  <% end %>

  <div class='' style='background-color: white; height: 100%'>    
    <%= erb :"layout/flash" %>        

    <%= erb :'header' %>   
    <div class='not_your_turn' style='text-align: center'>
      <div style='margin-top:100px'>
        Wait for your turn
      </div>
    </div>
    <div class='container' style='min-height: 500px'>
      <%= yield %> 
    </div>
    <%#= erb :"footer" %>           
  </div>  

  
  <link rel="stylesheet" href="/css/fonts/RobotoFonts.css">
  <link rel="stylesheet" href="/css/fonts/MaterialIcons.css">
</body>
</html>
