<h1> Game instructions </h1>

<p>
In the next screen you will see two sets of unmarked keys. In each trial you will be asked to press select a key and your payoff for that trial will be displayed on the key you selected.
</p>
 
<p>
Each round of will consist of <%= T%> trials and you will be informed when a new round begins and that the keys (payoffs) are reset. You will play this game for a total of <%= R%> rounds.

<p>
You will play G games like this. Each game has a unique payoff structure and you will be informed when the current game is finished and a new game is about to begin. Remember – your task is to obtain the higher payoffs in every round to increase your earnings. Press  – Start First Game – to begin.</p>
<!-- 
<p>
In the next screen you will see two matrices of unmarked keys. 
</p>
<p>
In each trial you will be asked to press on one key and your payoff for the current trial will be written on the key you selected. 
</p>
<p>
The payoffs will be reset every <%= T %> trials and a new round will begin (you will be informed when a new round begins and that the payoffs were reset). 
</p>
<p>
You will play the game for a total of <%= R %> rounds, where every round includes <%= T%> trials. 
</p>
<p>
There are <%= G%> games like this, each game has a unique payoff structure, and you will be informed when the current game is finished and a new game is about to begin. 
</p>
<p>
Remember – your task is to obtain the higher payoffs in every round.
</p> -->

<a href='/togu/game' class='btn btn-raised btn-primary'> Start First Game </a>