<h1> Game <%= sesh[:order]+1 %></h1>

<h5>
  <div> You are on trial number <span id='trial_num'%>1</span> out of <%= T %> trials in this round (Round number <%= sesh[:round_number] %> out of <%= R %> rounds in this game) Game number <%=%>.</div>
  <!-- out of <%=G%> games; Game ID is <%=sesh[:g]%> -->
  
</h5>

<%= erb :'togu/matrix' %>

<script>
var trialNum=1;
$('.cell').click(function(){
  var cells  = $('.cell');
  var target = $(event.target);
  var key    = target.data('key');
  var type   = target.data('type');
  
  $.get('/togu/click_cell?key='+key+'&type='+type+'&trial_number='+trialNum)
   .success(function(res){
      target.html(`<b style="color:black; font-size:30px">${res.val}</b>`);
      //$("#map").html(JSON.stringify(res.map));
      cells.attr('disabled',true);      
      setTimeout(()=>{
        target.html('');
        if (trialNum==<%=T%>) {
          document.location = '/togu/between_rounds';
        } else {
          trialNum+=1;
          $('#trial_num').html(trialNum);
          cells.attr('disabled',false);  
        }        
      },500)
   })
})

</script>