<h1> Last Payment </h1>

<p>Thanks you for participating in this study! One round from one game you played was selected randomly. This was <%= rand_game %> , <%= rand_round %>. In this round you earned <%= sum %> points. Thus your total
payment for this experiment is <%= COINSIGN %><%=SHOWUP.to_f + (sum/EXCHANGE_RATIO.to_f)%>.
</p>

