<%
  data      = $togu.get(params[:id])
  all_moves = data[:moves]
  move_keys = [:key, :order, :g, :r, :t, :type, :is_explore, :key_type, :explore_l, :exploit_l, :key_number_squared, :key_val, :cost, :pay_no_feedback, :feedback, :final_pay]
#   Per trial: ID, gender, age, Order, g, r, t, 
# - GiveUp (1=a GiveUp matrix key, 0= a Try matrix key),
# - Explore (1=selecting a key for the first time in this round; 0=otherwise), 
# - KeyType (1= H or MH key, 0=L or ML key), 
# - ExploreL (1= if GiveUp=0 and Explore=1 and KeyType=0), 
# - ExploitL (1= if GiveUp=0 and Explore=0 and KeyType=0, zero otherwise), 
# - KeyNumber^2 , 
# - KeyValue (H/L/MH/ML), 
# - Cost (1= if C was implemented because Explore=1, 0=if C was not implemented because Explore=0), 
# - PayNoFeedback (KeyValue-Cost), 
# - Feedback (+F/0/-F),
# - FinalPay (KeyValue-Cost+Feedback).

%>



<h1> User Results: Subject <%=params[:id]%> </h1>
<div> <%=data[:user_data][:sex] %>, <%=data[:user_data][:age] %></div>
<hr/>
<button onclick=tableToExcel('table','data','data.xls') class='btn btn-primary btn-raised'>Download as excel</button>

<ul class='guide'>
  <li><b> key </b> - which cell was clicked.</li>
  <li><b> val before feedback </b> - the value received from that cell, including cost but not including feedback. </li>
  <li><b> order </b> - which game, from user's POV.</li>
  <li><b> g </b> - which game, from our games (1-6).</li>
  <li><b> r </b> - which round, from user's POV, in this game.</li>
  <li><b> t </b> - which trial, from user's POV, in this round.</li>
  <li><b> is_explore </b> - was this move an 'exploration' of a new cell. If true, exploration cost was deducted from cell value. </li>
  <li><b> key_type </b> - L, MH, etc.</li>
  <li><b> key_val </b> - the default value for this key type. For example L is 1, H is 11. </li>
  <li><b> feedback </b> - how much feedback was applied to value.</li>
  <li><b> final_pay </b> - the final payoff from this cell.</li>
</ul>

<table id='table' class='table'>
  <thead>
    <% (['Subj_Number','Sex','Age'] + move_keys).each do |k| %>
      <th><%= k %></th>  
    <% end %>
  </thead>
  <tbody>
      <% all_moves.each do |game, rounds| %>
        <% rounds.each do |round, round_moves| %>          
          <% round_moves.each do |move| %>
          <tr>
            <td> <%=data[:user_data][:subject_number] %> </td>
            <td> <%=data[:user_data][:sex] %> </td>
            <td> <%=data[:user_data][:age] %> </td>
            
            <% move_keys.each do |key| %>
            <td> <%= move[key] %></td>
            <% end %>
          </tr>
          <% end %>
        <% end %>
      <% end %>
  </tbody>
</table>


<% if false %>
in each every line I also need:
- sex
- age
- Order,
- g   (game number)
- r  (round number)
- t, (trial number)
- type (GiveUp (1=a GiveUp matrix key, 0= a Try matrix key),
- Explore? (1=selecting a key for the first time in this round; 0=otherwise), 

- KeyType (1= H or MH key, 0=L or ML key), 
- KeyType (1= H or MH key, 0=L or ML key), 
- ExploreL (1= if GiveUp=0 and Explore=1 and KeyType=0), 
- ExploitL (1= if GiveUp=0 and Explore=0 and KeyType=0, zero otherwise), 
- KeyNumber^2 ???
- KeyValue (H/L/MH/ML), 
- Cost (1= if C was implemented because Explore=1, 0=if C was not implemented because Explore=0), 
- PayNoFeedback (KeyValue-Cost), 
- Feedback (+F/0/-F),
- FinalPay (KeyValue-Cost+Feedback).
<% end %>