<% 
total = total_payoff

low_payment  = (SG_EXCHANGE_RATE*game['low_values_rand_payoff'].to_f).round(2)
high_payment = (SG_EXCHANGE_RATE*game['high_values_rand_payoff'].to_f).round(2)
total_payment = ((low_payment + high_payment)* 0.5 + 37).round(2) 
%>
<h1> Game Over </h1>

<p> Thanks for playing,  </p>
<p> You will receive 37 Shekels for participating in the experiment.</p>
<p> Additionally you will get an additional payment based on two rounds were randomly chosen for you: <%= low_payment %>,<%= high_payment %>.</p>
<p> <b>Your final payment = <%= total_payment %>. </p>

<% if pr[:v] %>
game: <%= game %>

<br/>
low: <%= game['low_values_rand_payoff'] %>
<br/>
high: <%= game['high_values_rand_payoff'] %>
<br/>
total: <%= total %>
<% end %>
