<h1> You're done! </h1>

<pre>
Congratulations, the game is now over!

One trial was randomly selected: Trial <%=data[:random_move][0] + 1 %> of part <%=data[:random_part]%>. Your payoff in this trial was <%=data[:rand_payoff]%><%=PaySign%>.

In addition, one estimation was randomly selected. This estimation yielded a bonus of <%=data[:yyy]%><%=PaySign%>.

You also received <%=ShowUp%><%=PaySign%> for showing up.

Accordingly, your final payment is <%=data[:zzz]%><%=PaySign%>.

Thank you for participating in this study <span style='font-size:30px'>☺</span>
</pre>

<div>
<a class='btn btn-raised btn-primary' href='/ex2'>Home</a>
</div>