<h1> Ex2 </h1>

<pre>
Welcome to the colored keys game!

This game includes many trials (<%=T+E%> trials overall).

On each trial, two colored keys will be presented on the
screen, and your task is to select the key you prefer (by
pressing on it with the mouse pointer).

After selecting a key, your trial’s payoff (the amount of
points you got) will be presented on the selected key in
black. You will also be able to see what you could have got
had you selected the other key (the forgone payoff will be
presented in gray on the key you did not select).

After the game is over, one trial will be randomly selected,
and the payoff you got in this trial will be converted to
money (<%=ExchangeRate%> points = <%=PaySign%>1). The resulting
amount will be added to or subtracted from your show-up
fee of <%=PaySign%><%=ShowUp%>.

Thus, you should try to maximize your payoff in every trial
during the game.

Good luck!
</pre>

<p></p>
<form action='/ex2/start'>
  <label> Please enter your Prolific ID number, age and gender </label>
  <div></div>
  <input name='subject_number' zvalue=1 autofocus="" placeholder="Prolific ID Number" required />
  <br/>
  <input name='age' type=number zvalue=20 placeholder="Subject Age" required />
  <br/>
  <select name=gender>
    <option value='male'>Male </option>
    <option value='female'>Female </option>
  </select>
  <br/>
  <button class='btn btn-raised btn-primary'> Submit </button>
</form>

<style>
form input, form select{
  margin-top:10px;
}
</style>