<%
  part2 ||= false
%>
<style>
.main {
  text-align: center;
  /*border:1px solid red;*/
}
.noDisplay {
  display: none
}
.ct {
  text-align: center;
}
.main .btn {
  height:180px;
  width:180px;
  margin:10px 100px;
  font-size:45px;  
  color: grey !important;
  font-weight: bold;
  border:1px solid black;
}
.main .btn.black {
  color: black !important;
  border:3px dashed black;
}
.grey {
  color: grey !important;
}
.disabled {
  pointer-events: none;
  cursor: wait !important;
}
.invisible {
  visibility: none;
}
.guess_area {
  width:240px;
  display: inline-block;  
  <% if sesh[:flip] %> 
  margin-right: 380px;
  /*float: left;*/
  <% else %> 
  margin-left: 380px;
  /*float: right;*/
  <% end %>
}
.guess_input {
  margin-top:10px;
}
.right_text {

}
.estimate {  
  /*border:1px solid red;*/
}
.cf {
  clear:both;
}
</style>
<div class='main'>
  <% if part2 %>
  <% risky_val_a = potential_risky_val(sesh[:group_num], sesh[:stepNum].to_i) %>
  <% risky_val_b = potential_risky_val(sesh[:group_num], sesh[:stepNum].to_i+1) %>
    <h5>Part 2 - Trial <span class='stepNum'>1</span></h5>
  <% else %>
    <h5>Part 1 - Trial <span class='stepNum'>1</span></h5>
  <% end %>
    <% if false %>
    <div>Admin Data: <%= sesh.to_h %></div>  
    <% end %>
  

  <div class='even_odd_trials'>
    <% if part2 %>
    <div class='estimate ct'>In the next trial, the following keys will be presented:</div>
    <div class='please_select invisible'>Now please select the key you prefer</div>
    <% end %>
    <button class='btn btn-lg btn-info btn-raised btn-left' style='background-color: <%=sesh[:colors][0]%>' onclick=buttonClick(this,'left')></button>
    <button class='btn btn-lg btn-warning btn-raised btn-right' style='background-color: <%=sesh[:colors][1]%>' onclick=buttonClick(this,'right')></button>
    <% if part2 %>
    <div class='estimate'>
    <span class='guess_area'>
      <span class='guess_text'>What do you think is the chance to get <%=risky_val_a%> from selecting this key?</span>
      <div> %<input class=guess_input type=number placeholder="Type a number" />
        <div class='est_instructions'>Please type a number between 0-100 and press enter to continue</div>
       </div>
    </span>
    </div>
    <div class='cf'></div>
    <% end %>
  </div>
  <div class='even_odd_trials invisible' style='position:relative; bottom:50px'>
    <% if part2 %>
    <div class='estimate ct'>In the next trial, the following keys will be presented:</div>
    <div class='please_select invisible'>Now please select the key you prefer</div>
    <% end %>
    <button class='btn btn-lg btn-info btn-raised btn-left' style='background-color: <%=sesh[:colors][2]%>' onclick=buttonClick(this,'left')></button>
    <button class='btn btn-lg btn-warning btn-raised btn-right' style='background-color: <%=sesh[:colors][3]%>' onclick=buttonClick(this,'right')></button>
    
    <% if part2 %>
    <div class='estimate'>
    <span class='guess_area'>
      <span class='guess_text'>What do you think is the chance to get <%=risky_val_b%> from selecting this key?</span>
      <div> %<input class=guess_input type=number placeholder="Type a number" /> <div class='est_instructions'>Please type a number between 0-100 and press enter to continue</div> </div>
    </span>
    </div>
    <div class='cf'></div>
    <% end %>

  </div>  
</div>

<script>
var stepNum = 1;

$(".guess_input").keyup(function(event) {
    var val = $(this).val()
    if (event.keyCode === 13) {
      if (parseInt(val)!=val) return alert('Please enter a valid number');
      var v = parseInt(val);
      if ((v<0) || (v>100)) return alert('Please enter a number between 0 and 100');
      window.estimate = v;
      enableButtons();
      //$.get('/ex2/estimate?estimate='+v).success(()=>enableButtons())
    }
}); 
function enableButtons(){
  $('.btn').removeClass('black').removeClass('grey').removeClass('disabled').text('');  
  $('.estimate').toggleClass('invisible');
  $('.please_select').removeClass('invisible');
}
function nextStep(){
  $('.stepNum').text(stepNum);
  $('.even_odd_trials').toggleClass('invisible');

  <% if part2 %>
  $('.btn').addClass('disabled');
  $('.please_select').addClass('invisible');
  $('.guess_input').val('')
  <% end %>
}

<% if part2 %>
$('.btn').addClass('disabled');
<% end %>
function buttonClick(btn,side) {
  $('.please_select').addClass('invisible');
  if (side == 'left') other = 'right';
  if (side == 'right') other = 'left';
  $.get(`/ex2/click?side=${side}&part2=${<%=part2%>}&estimate=${window.estimate || 999}`).success(res=>{    
    if (res[side] > 0)  res[side] = '+'+res[side];
    if (res[other] > 0) res[other] = '+'+res[other];
    $('.btn-'+side).addClass('black').text(res[side])
    $('.btn-'+other).addClass('grey').text(res[other])
    $('.btn').addClass('disabled');
    stepNum = 1+ res.stepNum;    
    var waitTime = 1000

    if (res.gotoPart2) setTimeout(()=>document.location.href = '/ex2/instructions_part2',waitTime);
    else if (res.done) setTimeout(()=>document.location.href = '/ex2/done',waitTime);
    else setTimeout(()=>{enableButtons(), nextStep()},waitTime);
  })
}
</script>